body{
    font-family: 'Arimo', Helvetica, sans-serif;
    background-color: #EFF2F7;
    color: #0F2439;
}

.navsection {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #1E374F;
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px 0 10px;
}

.navsection a{
    color: #EFF2F7;
    font-family: 'Arimo', sans-serif;
    text-decoration: underline;
    padding: 15px;
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 3px;
}

.title {
    width: 100%;
    height: 800px;
    background-size: cover;
    background-image: url("images/winter-run.JPG");
    margin: 0 auto;
    padding-top: 30px;
}

.title p {
    color: #0F2439;
    text-align: center;
    font-size: 30px;
    display: block;
    padding: 20px;
}

.topbarinfo {
    display: flex;
    height: 90%;
}

.projectinfo {
    display: flex;
    justify-content: center;
}

.topleftcontent {
    height: 90%;
    width: 20%;
}

.profilepic {
    background-image: url("images/profliepic.jpg");
    width: 165px;
    height: 165px;
    border-radius: 5px;
    margin: 30px auto;
    background-size: cover;
}

.topcontent {
    width: 20%;
    display: block;
    text-align: left;
    padding: 40px;
}

.toprightcontent {
    width: 60%;
    display: block;
    text-align: left;
    padding: 40px;
}

.aboutcontent {
    width: 80%;
    display: block;
    padding: 0 0 15px 60px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #1E374F;
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px 0 10px;
}
.footer span {
    color: #EFF2F7;
    padding-right: 15px;
}

.resumebutton {
    display: flex;
    margin-top: 40px;
}

.resumebutton a{
    color: #EFF2F7;
    font-family: 'Arimo', sans-serif;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    background-color: #0F2439;
    border-radius: 10px;
}
.button {
    display: flex;
    justify-content: center;
}

.button a{
    color: #EFF2F7;
    font-family: 'Arimo', sans-serif;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    background-color: #0F2439;
    border-radius: 10px;
}

.contactrow {
    margin-top: 15px;
}

.contact-form {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
 }

.mydescription {
    display: flex;
}

.column-one {
    order: 1;
    text-align: center;
    width: 40%;

}

.column-two {
    order: 2;
    text-align: center;
    width: 40%;
}

.column-three {
    order: 3;
    text-align: center;
    width: 40%;
}